
/* Grundlegener Stil */
body {
    background-color: #F3F1EC;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

p {
    color: black;
    font-size: 20px;
}

/* Schriftart H2 & H3 Menüs */
.italian-intro h2 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: xx-large;
}

.italian-menues h3 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: x-large;
}

.french-intro h2 {
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: xx-large;
}

.french-menues h3 {
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: x-large;
}

/* Grid */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 30px;
}

.italian-menues, .french-menues {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
    min-width: 0;
}

/* Hintergrundfarben für die Menüs */

.italian-menues > :nth-child(1) {
    background-color: #A8C9B0;
    padding: 20px 30px;
    border-radius: 15px;
}

.italian-menues > :nth-child(2) {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 15px;
}

.italian-menues > :nth-child(3) {
    background-color: #E8A6A6;
    padding: 20px 30px;
    border-radius: 15px;
}

.french-menues > :nth-child(1) {
    background-color: #AFC7E3;
    padding: 20px 30px;
    border-radius: 15px;
}

.french-menues > :nth-child(2) {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 15px;
}

.french-menues > :nth-child(3) {
    background-color: #E9A6A6;
    padding: 20px 30px;
    border-radius: 15px;
}

/* Linien über den Menüs */
.course {
    border-top: 1.5px solid #ddd;
}

/* Flaggen Icons */
.italian-flag {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: linear-gradient(
    to right,
    #009246 33.33%,
    white 33.33% 66.66%,
    #ce2b37 66.66%
  );
  margin-right: 10px;
  vertical-align: baseline;
}

.french-flag {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: linear-gradient(
    to right,
    #0055a4 33.33%,
    white 33.33% 66.66%,
    #ef4135 66.66%
  );
  margin-right: 10px;
  vertical-align: baseline;
}

/* Submit Button */
input[type="submit"] {
    background-color: #EF4135;
    color: white;
    padding: 10px 20px;
    border: 2px solid #E9A6A6;
    border-radius: 5px;
    cursor: pointer;
}

.form-header {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

form ::placeholder {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

form textarea {
    font-family: Arial, sans-serif;
    font-size: 13px;
}